
<div class="container">
  <h1> come play js racer </h1>

  <form class="play" action="/play" method="post">
    <input type="text" name="p1_initials" placeholder="Player 1 Initials">
    <input type="text" name="p2_initials" placeholder="Player 2 Initials">
    <button type="submit" id="play_btn">Play!</button>
  </form>

  <h1>See the results for game </h1>
  <ul><% @games.each do |game| %>
  <li><a href="/game/<%= game.id %>/results"><%= game.id %></a></li>
  <% end %></ul>
</div>
