
<div class="container">
  <h1> come play js racer </h1>

  <form action="/play" method="post">
    <input type="text" name="player1_initials" placeholder="Player 1 Initials">
    <input type="text" name="player2_initials" placeholder="Player 2 Initials">
    <button type="submit" id="play_btn">Play!</button>
  </form>
</div>
