<div id="racetrack">
    <table class="racer_table">
      <tr id="p1_strip" data-player-name="<%= @p1_initials %>">
        <td class="active"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr id="p2_strip" data-player-name="<%= @p2_initials %>">
        <td class="active" ></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
    </div>

    <span id="winner"></span>
    <button><a href="/gameplay">play again</a></button>
    <span id="game-url">To see your results click<a href="/game/<%= @game.id %>/results"> here!</a></span>

